@{
    ViewBag.Title = "Inspection Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    @section pageHeader{
    <section class="content-header">
        <h1>
            Inspection Calendar
        </h1>
    </section>
        }
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    
                        @await Html.PartialAsync("_InspCalendar")
                    
                </div>
            </div>
        </div>
    </div>

<link rel="stylesheet" href="@Url.Content("~/dist/plugins/fullcalendar/fullcalendar.min.css")">
<script src="@Url.Content("~/dist/plugins/fullcalendar/moment.min.js")"></script>
<script src="@Url.Content("~/dist/plugins/fullcalendar/fullcalendar.min.js")"></script>