@model HCF.BDO.TIcraLog
@{
    ViewBag.Title = "_TICRAReportInfo";
}
<div class="form-inline row">
        <div class="col-md-4 form-group">
            <label>Project Name:</label>
            @Model.ProjectNo
        </div>
        <div class="col-md-4 form-group">
            <label>Contractor:</label> 
            @Model.Contractor
        </div>
        <div class="col-md-4 form-group">
            <label>Project Location: </label>
            @Model.Location
        </div>
        <div class="col-md-4 form-group">
            <select style="width:100%;" id="ticraobsReports" class="form-control" name="ticraobsReports"></select>
        </div> 
</div>


