<form asp-controller="Account" asp-action="ForgotPassword" data-ajax-success="OnSuccess" data-ajax="true" data-ajax-method="POST">
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <h4 class="threedot-heading" style="margin-bottom: 24px;">Enter the email address associated with your CRx account.</h4>
    @Html.AntiForgeryToken()
    <div class="form-group has-feedback">
        <div class="input-group">
            <div class="input-group-addon"><img src="/dist/Images/login/username.png"></div>
            @Html.TextBox("userName", null, new { @class = "form-control", @placeholder = "Email Id", required = "required", @type = "email" })
        </div>
    </div>
    <div class="row fogsub-box">
        <div class="col-xs-12">
            <button type="submit" class="btn login-button" title="Recover" id="btnGetPwd"
                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading">
                Recover
            </button>
        </div>
        <div class="col-xs-12">
            <a href="#" id="loginshow" class="loginremember text-right"><span>Login</span></a>
        </div>
    </div>
</form>