@{
    ViewBag.Title = "Get Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    @section pageHeader{
    <section class="content-header">
        <h1>
            Get Password
        </h1>
    </section>
        }
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-xs-3">
                <div class="box box-primary col-lg-12 general_menu">
                </div>
            </div>
            <div class="col-lg-9 col-xs-9">
                <div class="box">
                    <div class="form">
                        <form id="form1" name="form1">
                            <label>Email</label>
                            <input type="email" name="email" class="form-control" id="email" required />
                            <br />
                            <button type="button" class="btn btn-primary btn-block btn-flat"
                                    id="btnSubmit" title="get password">
                                Get Password
                            </button>
                        </form>
                    </div>
                    <br />
                    <br />
                    <div id="result">
                    </div>
                </div>
            </div>
        </div>
    </div>


@section Scripts{
    <script language="javascript">

        $("#btnSubmit").click(function () {
            var email = $("#email").val();
            if (email.length > 0) {
                $.ajax({
                    url: CRxUrls.Home_GetPassword,
                    type: "POST",
                    data: { __RequestVerificationToken: $('input[name=' + $.Constants.RequestVerificationToken + ']').val(), email: email },
                    dataType: 'json',
                    success: function (result) {
                        $("#result").empty().append(result);
                    }
                });
            } else {
                swalalert("please enter email.")
            }
        });
    </script>

}