@{
    ViewBag.Title = "EP Assignment";
    Layout = "~/Views/Shared/_Layout.cshtml";    
}

@section pageHeader{
    <section class="content-header">
        <h1>
            EP Assignment
        </h1>
    </section>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">                

            </div>
        </div>
    </div>
</div>