<div class="box box-primary general_menu">
    <div class="sidebar">
        <nav class="navigation">
            <ul class="profile_setting_left">
                <li>
                    <a href="/my/profile" class="">
                        <span class="spritebg sprite-generalsettings" title="My Profile"></span>
                        <span>My Profile</span>
                    </a>
                </li>
                <li>
                    <a href="/change-password" class="">
                        <span class="spritebg sprite-epFrequency" title="Change Password"></span>
                        <span>Change Password</span>
                    </a>
                </li>
                <li>
                    <a href="/login/history" class="">
                        <span class="spritebg sprite-vendorConfiguration" title="Login History"></span>
                        <span>Login History</span>
                    </a>
                </li>
                <li>
                    <a href="/myplan" class="">
                        <span class="spritebg sprite-questionnaire" title="My Plan"></span>
                        <span>My Plan</span>
                    </a>
                </li>
                
            </ul>
        </nav>

    </div>
</div>
