<div class="col-md-12">
    <div class="ep-mainContainer">
        <div class="ep-riskrow">
            <div class="ep-cols1">
                @*<span class="processType-Sprite status_pass"></span>*@
                <div class="epDetails">
                    <span class="processType-Sprite status_pass"></span>
                    <span>
                        <p>EC.01.01.01,EP01</p>
                        <p>HIGH Risk <span>D</span></p>
                    </span>
                </div>
            </div>
            <div class="ep-cols2">
                <p>
                    The hospital plans activities to minimize risks in the environment of care. management plans described in this standard.
                    Note 1: One or more persons can be assigned to manage risks associated with the…... <a href="#">See more</a>
                </p>
            </div>
        </div>

        <div class="epmain-boxrow" style="display:none;">
            <div class="epview-row">
                <div class="epview-cols3">
                    <div><p><span class="status-green"></span><label>Status:</label> Compliant</p></div>
                    <div><p><label>Next Review due:</label> Mar 15, 2021 <a href="#">Change</a></p></div>
                    <div><p><label>Assigned to:</label> Sumer Mathur <a href="#">Change</a></p></div>
                </div>
                <div><p><label>Last Review by:</label> Sumer Mathur on May 7, 2020 <a href="#">View Detailed Review Checkpoints</a></p></div>
                <div><p><label>Review Comment:</label> Jim Collins was appointed as Safety manager in EOC committee meeting on 3/15</p></div>
            </div>
            <div class="epdetailsBox-row">
                <div class="ep-tableBox">
                    <h4>Documents Attached:</h4>
                    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Required Documents:</th>
                                    <th>Doc Review Date</th>
                                    <th>Uploaded</th>
                                    <th>By</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>meeting_minutes.pdf</td>
                                    <td>Mar 15, 2020</td>
                                    <td>May 7, 2020</td>
                                    <td>Sumer Mathur</td>
                                    <td>
                                        <div class="ep-actionbox">
                                            <a href="#">view</a>
                                            <a href="#">download</a>
                                            <a href="#">mail</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
                </div>
                <div class="ep-tableBox">
                    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Other Documents:</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>meeting_minutes.pdf</td>
                                    <td>NA</td>
                                    <td>May 7, 2020</td>
                                    <td>Sumer Mathur</td>
                                    <td>
                                        <div class="ep-actionbox">
                                            <a href="#">view</a>
                                            <a href="#">download</a>
                                            <a href="#">mail</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
                </div>
            </div>
            <div class="button_DivEP">
                <a class="comm-button" href="#">Review Now</a>
                <a class="comm-button" href="#">Add Document</a>
                <a class="comm-button" href="#">EP Review History</a>
                <a class="comm-button" href="#">Go Back</a>
            </div>
        </div>


        <div class="epmain-boxrow">
            <div class="epview-row">
                <div class="epview-cols3">
                    <div><p><span class="status-green"></span><label>Status:</label> Compliant</p></div>
                    <div><p><label>Next Review due:</label> Mar 15, 2021 <a href="#">Change</a></p></div>
                    <div><p><label>Assigned to:</label> Sumer Mathur <a href="#">Change</a></p></div>
                </div>
                <div><p><label>Last Review by:</label> Sumer Mathur on May 7, 2020 <a href="#">View Detailed Review Checkpoints</a></p></div>
                <div><p><label>Review Comment:</label> Jim Collins was appointed as Safety manager in EOC committee meeting on 3/15</p></div>
            </div>
            <div class="epdetailsBox-row">
               
                    <h4>Documents Attached:</h4>
                    
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Required Documents:</th>
                                    <th>Doc Review Date</th>
                                    <th>Uploaded</th>
                                    <th>By</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>meeting_minutes.pdf</td>
                                    <td>Mar 15, 2020</td>
                                    <td>May 7, 2020</td>
                                    <td>Sumer Mathur</td>
                                    <td>
                                        <div class="ep-actionbox">
                                            <a href="#">view</a>
                                            <a href="#">download</a>
                                            <a href="#">mail</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    
              
               
                   
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Misc. Documents:</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>meeting_minutes.pdf</td>
                                    <td>NA</td>
                                    <td>May 7, 2020</td>
                                    <td>Sumer Mathur</td>
                                    <td>
                                        <div class="ep-actionbox">
                                            <a href="#">view</a>
                                            <a href="#">download</a>
                                            <a href="#">mail</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                   
                
            </div>
            <div class="epexpandbox">
                <div class="epview-row">
                    <div><p><label>Reviewed by:</label> Justin Carr on Apr 11, 2019 <a href="#">View Detailed Review Checkpoints</a></p></div>
                    <div><p><label>Review Comment:</label> Jim Collins was appointed as Safety manager in EOC committee meeting on 3/28</p></div>
                </div>
                <div class="epdetailsBox-row">
                    <div class="ep-tableBox">
                        <h4>Documents Attached:</h4>
                        
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Required Documents:</th>
                                        <th>Doc Review Date</th>
                                        <th>Uploaded</th>
                                        <th>By</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>meeting_minutes.pdf</td>
                                        <td>Mar 28, 2019</td>
                                        <td>Apr 11, 2019</td>
                                        <td>Justin Carr</td>
                                        <td>
                                            <div class="ep-actionbox">
                                                <a href="#">view</a>
                                                <a href="#">download</a>
                                                <a href="#">mail</a>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        
                    </div>
                    <div class="seemoreBox">
                        <a href="#" class="seemore-btn">See More Dates</a>
                    </div>
                </div>
            </div>
            <div class="button_DivEP">
                <a class="comm-button" href="#">Print</a>
                <a class="comm-button" href="#">PDF</a>
                <a class="comm-button" href="#">Email</a>
                <a class="comm-button" href="#" style="float: right;">Go Back</a>
            </div>
        </div>


    </div>
</div>
