@model HCF.Web.ViewModels.Account.ChangePasswordViewModel
@{
    ViewData["Title"] = Localizer["Change Password"].Value;
}

@section pageHeader{
    <section class="content-header">
        <h1>
            @Localizer["Change Password"]
        </h1>
    </section>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            @await Html.PartialAsync("_profilemenu")
        </div>

        <div class="col-md-9">
            <div class="box box-primary">
                <div class="generateBox">
                    <div class="change_password">

                        <form asp-controller="User" asp-action="ChangePassword" method="post">

                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="form-group ">
                                <label asp-for="OldPassword" class="col-form-label"></label>
                                <div class="has-feedback">
                                    <input asp-for="OldPassword" class="form-control" id="OldPassword" />
                                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                                    <span class="hideShowpass" id="hideShow1"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label asp-for="NewPassword" class="col-form-label"></label>
                                <div class="has-feedback">
                                    <input asp-for="NewPassword" class="form-control newPassword" id="NewPassword" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                    <span class="hideShowpass" id="hideShow2"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                </div>
                            </div>
                            <div class="form-group ">
                                <label asp-for="ConfirmPassword" class="col-form-label"></label>
                                <div class="has-feedback">
                                    <input asp-for="ConfirmPassword" class="form-control" id="ConfirmPassword" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                                    <span class="hideShowpass" id="hideShow3"><i class="fa fa-eye" aria-hidden="true"></i></span>
                                </div>

                            </div>
                            <div class="form-group ">

                                <button type="submit" class="comm-button changepbtn float-right">@Localizer["Change password"]</button>

                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



@section scripts {
    <partial name="_ValidationScriptsPartial" />
    @*<script src="~/dist/js/crx.js-passwordPopup.js"></script>*@
}

<script>
    $(document).ready(function () {
        $("#hideShow1").on('click', function () {
            var $pwd = $("#OldPassword");
            if ($pwd.attr('type') === 'password') {
                $pwd.attr('type', 'text');
            } else {
                $pwd.attr('type', 'password');
            }
        });
        $("#hideShow1").click(function () {
            $("#hideShow1 .fa").toggleClass("fa-eye-slash");
        });
        $("#hideShow2").on('click', function () {
            var $pwd = $("#NewPassword");
            if ($pwd.attr('type') === 'password') {
                $pwd.attr('type', 'text');
            } else {
                $pwd.attr('type', 'password');
            }
        });
        $("#hideShow2").click(function () {
            $("#hideShow2 .fa").toggleClass("fa-eye-slash");
        });
        $("#hideShow3").on('click', function () {
            var $pwd = $("#ConfirmPassword");
            if ($pwd.attr('type') === 'password') {
                $pwd.attr('type', 'text');
            } else {
                $pwd.attr('type', 'password');
            }
        });
        $("#hideShow3").click(function () {
            $("#hideShow3 .fa").toggleClass("fa-eye-slash");
        });

    });
</script>
<style>
    /*
     * jQuery Minimun Password Requirements 1.1
     * http://elationbase.com
     * Copyright 2014, elationbase
     * Check Minimun Password Requirements
     * Free to use under the MIT license.
     * http://www.opensource.org/licenses/mit-license.php
    */
    #pr-box {
        font: 13px/16px sans-serif;
        position: absolute;
        z-index: 1000;
        display: none;
        width: 300px;
        max-width: 100%;
    }

        #pr-box i {
            width: 0;
            height: 0;
            margin-left: 20px;
            border-left: 7px solid transparent;
            border-right: 7px solid transparent;
            border-bottom: 7px solid #23a86d;
        }

    #pr-box-inner {
        margin-top: 6px;
        -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        -moz-box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        box-shadow: 0 2px 10px rgba(0,0,0,0.2);
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
    }

    #pr-box p {
        padding: 20px;
        -webkit-border-radius: 2px 2px 0 0;
        -moz-border-radius: 2px 2px 0 0;
        border-radius: 2px 2px 0 0;
    }

    #pr-box ul {
        padding: 7px;
        -webkit-border-radius: 0 0 2px 2px;
        -moz-border-radius: 0 0 2px 2px;
        border-radius: 0 0 2px 2px;
    }

        #pr-box ul li {
            list-style: none;
            padding: 7px;
        }

            #pr-box ul li span {
                width: 15px;
                height: 15px;
                display: block;
                float: left;
                border-radius: 100%;
                margin-right: 15px;
            }

    #pr-box.light {
        color: #2d2f31;
    }

        #pr-box.light p {
            background-color: #23a86d;
            color: #f1f1f1;
        }

        #pr-box.light ul {
            background-color: #f1f1f1;
        }

            #pr-box.light ul li span {
                background-color: #f1f1f1;
                border: 3px solid #23a86d;
            }

                #pr-box.light ul li span.pr-ok {
                    background-color: #23a86d;
                    border: 3px solid #23a86d;
                }

    #pr-box.dark {
        color: #f1f1f1;
    }

        #pr-box.dark p {
            background-color: #23a86d;
        }

        #pr-box.dark ul {
            background-color: #2d2f31;
        }

            #pr-box.dark ul li span {
                background-color: #2d2f31;
                border: 3px solid #23a86d;
            }

                #pr-box.dark ul li span.pr-ok {
                    background-color: #23a86d;
                    border: 3px solid #23a86d;
                }
</style>
