<div style="color: #868686; font-family: 'Segoe UI', 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif, Verdana; font-size: 12px; padding: 4px 4px 4px 12px;">
    <h1 style="color: #000099; font-size: 22px; font-weight: lighter !important; margin: 0px; padding: 0px;">
        Reset your CRx account password
    </h1>
    <hr style="border: 1px dotted #C0C0C0; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; margin: 0px; padding: 0px;" />
    <p>
        Hi,
    </p>
    <p>
        We received a request to reset your CRx account password.Click below link to change your password.
        This link is valid only for 24 Hours.
    </p>
    <p>
        {ConfirmationLink}
    </p>
    <p>
        <b>Didn't request this change? Contact your System administration</b> <br />
    </p>
</div>
<br />
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <hr style="border: 1px dotted #C0C0C0; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;" />
                <p style="color: #333; font-family: arial; font-size: 9px; padding: 5px;">
                    This is informational message from CRxWeb.com. Please do not reply to this message, Mail sent to this address is not monitored.
                </p>
            </td>
        </tr>
    </tbody>
</table>