<div style="padding: 20px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: none; border-collapse: collapse; color: #333; font-family: arial; font-size: 12px; line-height: 26px;">
        <tbody>
            <tr>
                <td colspan="2" style="color: #333; font-family: arial; font-size: 14px; padding: 5px;">
                    <strong>
                        Hi,
                    </strong>
                    <!--<strong>
                        Hi {userName},<br>
                    </strong>-->
                </td>
            </tr>
            <tr>
                <td style="color: #333; font-family: arial; font-size: 12px; padding: 5px; width: 125px;"><strong>Date:</strong>{date}</td>
                <!--<td style="font-family:arial; font-size:12px; color:#333; padding:5px;">
                    <strong>Date:</strong>
                </td>
                <td style="font-family:arial; font-size:12px; color:#333; padding:5px;">
                    <p> {date} </p>
                </td>-->

                <td style="color: #333; font-family: arial; font-size: 12px; padding: 5px; width: 140px;"><strong>Standard:</strong>{standardName}</td>

                <!--<td width="40" style="font-family:arial; font-size:12px; color:#333; padding:5px;">
                    <strong>Standard:</strong>
                </td>
                <td width="1201" style="font-family:arial; font-size:12px; color:#333; padding:5px;">
                    <p> {standardName} </p>
                </td>-->
                <td style="color: #333; font-family: arial; font-size: 12px; padding: 5px; width: 140px;"><strong>EP #:</strong>{EpNUmber}</td>

                <!--<td width="40" style="font-family:arial; font-size:12px; color:#333; padding:5px;">
                    <strong>EP #:</strong>
                </td>
                <td width="1201" style="font-family:arial; font-size:12px; color:#333; padding:5px;">
                    <p> {EpNUmber}</p>
                </td>-->

                <td style="color: #333; font-family: arial; font-size: 12px; padding: 5px; width: 145px;"><strong>Inspector Name:</strong>{inspector}</td>
            </tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            {deviceinfo}
        </tbody>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td colspan="3" style="color: #333; font-family: arial; font-size: 14px; padding: 5px;">{Comment}</td>
            </tr>
        </tbody>
    </table>
    <br>
    {failSteps}
    <tr>
        <td style="color: #333; font-family: arial; font-size: 12px; padding: 5px;">
            <strong>EP Description:</strong>
        </td>
        <td style="color: #333; font-family: arial; font-size: 12px; padding: 5px;">
            <p> {EpDescription}</p>
        </td>
    </tr>

    <!--<table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td colspan="3" style="font-family:arial; font-size:14px; color:#333; padding:5px;">
                <strong>Image:</strong>
            </td>
        </tr>
        {fileInfo}
        </tbody>
    </table>-->
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <hr style="border: 1px dotted #C0C0C0; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;" />
                    <p style="color: #333; font-family: arial; font-size: 9px; padding: 5px;">
                        This is informational message from CRxWeb.com. Please do not reply to this message, Mail sent to this address is not monitored.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>