<div style="padding: 20px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: none; border-collapse: collapse; color: #333; font-family: arial; font-size: 12px; line-height: 26px;">
        <tbody>
            <tr>
                <td colspan="2" style="color: #333; font-family: arial; font-size: 14px; padding: 5px;">
                    <strong>
                        Hi,
                    </strong>
                </td>
            </tr>
            <tr><td style="color: #333; font-family: arial; font-size: 14px; padding: 5px;">{Errortext}</td></tr>
        </tbody>
    </table>
    <br />
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border:#ccc solid 1px; border-collapse:collapse;">
        <tr>
            <td width="189" valign="top" style="color: #333; font-family: arial; font-size: 12px; padding:5px; width: 140px;border:#ccc solid 1px;">
                Name
            </td>

            <td width="931" style="color: #333; font-family: arial; font-size: 12px; padding: 5px;border:#ccc solid 1px;">
                {name}
            </td>
        </tr>
        <tr>
            <td width="189" valign="top" style="color: #333; font-family: arial; font-size: 12px; padding:5px; width: 140px;border:#ccc solid 1px;">
                Reason for this ILSM Creation
            </td>

            <td width="931" style="color: #333; font-family: arial; font-size: 12px; padding: 5px;border:#ccc solid 1px;">
                {reason}
            </td>
        </tr>

        <tr>
            <td width="189" valign="top" style="color: #333; font-family: arial; font-size: 12px; padding:5px; width: 140px;border:#ccc solid 1px;">
                Location
            </td>

            <td width="931" style="color: #333; font-family: arial; font-size: 12px; padding: 5px;border:#ccc solid 1px;">
                {location}
            </td>
        </tr>
        <tr>
            <td width="189" valign="top" style="color: #333; font-family: arial; font-size: 12px; padding:5px; width: 140px;border:#ccc solid 1px;">
                Reopened Date
            </td>

            <td width="931" style="color: #333; font-family: arial; font-size: 12px; padding: 5px;border:#ccc solid 1px;">
                {date}
            </td>
        </tr>
        <tr>
            <td width="189" valign="top" style="color: #333; font-family: arial; font-size: 12px; padding:5px; width: 140px;border:#ccc solid 1px;">
                Reopened By
            </td>

            <td width="931" style="color: #333; font-family: arial; font-size: 12px; padding: 5px;border:#ccc solid 1px;">
                {inspector}
            </td>
        </tr>
    </table>  
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <hr style="border: 1px dotted #C0C0C0; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;" />
                    <p style="color: #333; font-family: arial; font-size: 9px; padding: 5px;">
                        This is informational message from CRxWeb.com. Please do not reply to this message, Mail sent to this address is not monitored.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>