<table width="100%" cellspacing="0" cellpadding="0" style="border: none; border-collapse: collapse; color: #333; font-family: arial; font-size: 12px; line-height: 26px;">
    <tbody>
        <tr>
            <td colspan="2" style="color: #333; font-family: arial; font-size: 14px; padding: 5px;">
                <strong>
                    Hi {Name},<br>
                </strong>
            </td>
        </tr>
        <tr>
            <td>
                <p>Please review your [NUMBER] Non-Tracked EPs in the PDF attached.</p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    If you would like to track these EPs so that they appear on your Compliance Dashboard, [Click Here] or by navigating: ‘Set Up' -> 'More Configuration’ -> ‘EP Configuration' -> 'Non-Tracked EP Report
                </p>
            </td>
        </tr>
        <tr>
            <td>
                <p>
                    <br />
                    <br />
                    Thank you,
                    <br />
                    CRx Support Team
                    <br />
                    <a href="mailto:crxsupport@hcfcompliance.com">
                        crxsupport@hcfcompliance.com
                    </a>
                </p>
            </td>
        </tr>
    </tbody>
</table>
<br>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <hr style="border: 1px dotted #C0C0C0; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;" />
                <p style="color: #333; font-family: arial; font-size: 9px; padding: 5px;">
                    This is informational message from CRxWeb.com. Please do not reply to this message, Mail sent to this address is not monitored.
                </p>
            </td>
        </tr>
    </tbody>
</table>