<div style="padding: 20px;">
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: none; border-collapse: collapse; color: #333; font-family: arial; font-size: 12px; line-height: 26px;">
        <tbody>
            <tr>
                <td colspan="2" style="color: #333; font-family: arial; font-size: 14px; padding: 5px;">
                    <strong>
                        Hi,
                    </strong>
                </td>
            </tr>
            <tr><td style="color: #333; font-family: arial; font-size: 14px; padding: 5px;">{Errortext}</td></tr>
        </tbody>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0" style="border: none; border-collapse: collapse; color: #333; font-family: arial; font-size: 12px; line-height: 26px;">
        <tr>
            <td style="color: #333; font-family: arial; font-size: 12px; padding: 5px; width: 125px;"><strong>Date :</strong> {date}</td>

            <td style="color: #333; font-family: arial; font-size: 12px; padding: 5px; width: 140px;"><strong>Work Order # :</strong> {WoNumber}</td>

            <td style="color: #333; font-family: arial; font-size: 12px; padding: 5px; width: 140px;"><strong>Status :</strong> {status}</td>

            <td style="color: #333; font-family: arial; font-size: 12px; padding: 5px; width: 145px;"><strong>Request Type :</strong> {requesttype}</td>
        </tr>
        <tr>
            <td colspan="3" style="color: #333; font-family: arial; font-size: 12px; padding: 5px; width: 125px;"><strong>Description :</strong> {WoDescription}</td>
        </tr>
    </table>  <br />
    <div style="color: #333; font-family: arial; font-size: 14px; padding: 5px;">
        <a href="{WoUrl}">Go to Work Order</a>
    </div>
    <br>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <hr style="border: 1px dotted #C0C0C0; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;" />
                    <p style="color: #333; font-family: arial; font-size: 9px; padding: 5px;">
                        This is informational message from CRxWeb.com. Please do not reply to this message, Mail sent to this address is not monitored.
                    </p>
                </td>
            </tr>
        </tbody>
    </table>
</div>