<div style="color: #868686; font-family: 'Segoe UI', 'Lucida Grande', Tahoma, Arial, Helvetica, sans-serif, Verdana; font-size: 12px; padding: 4px 4px 4px 12px;">
    <h1 style="color: #000099; font-size: 22px; font-weight: lighter !important; margin: 0px; padding: 0px;">
        Update EP Score
    </h1>
    <hr style="border: 1px dotted #C0C0C0; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px; margin: 0px; padding: 0px;"/>
    <br/>

    <p>
        Hi,
    </p>

    <br/>

    <p>

        {emailbody}

    </p>


    <p>
        <br />
        <br />
        Thank you,
        <br />
        CRx Support Team
        <br />
        <a href="mailto:crxsupport@hcfcompliance.com">
            crxsupport@hcfcompliance.com
        </a>
    </p>

    <hr style="border: 1px dotted #C0C0C0; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;"/>

    <p>
        <strong>
            Please do not reply to this message, which was sent from an unmonitored e-mail
            address. Mail sent to this address cannot be answered.
        </strong>
    </p>
</div>