<table width="100%" cellspacing="0" cellpadding="0" style="border: none; border-collapse: collapse; color: #333; font-family: arial; font-size: 12px; line-height: 26px;">
    <tbody>
        <tr>
            <td colspan="2" style="color: #333; font-family: arial; font-size: 14px; padding: 5px;">
                <strong>
                    Hi {FullName},<br> Your password has been changed ,Your new login details are follows:
                </strong>
            </td>
        </tr>
        <tr>
            <td colspan="2" style="color: #333; font-family: arial; font-size: 14px; padding: 5px;"><p>Please use following Url to login:</p></td>
        </tr>
        <tr>
            <td colspan="2" style="color: #333; font-family: arial; font-size: 14px; padding: 5px;"><p><a href="{siteUrl}"></a>{siteUrl}</p></td>
        </tr>        
        <tr>
            <td width="40" style="color: #333; font-family: arial; font-size: 12px; padding: 5px;">
                <strong>Email:</strong>
            </td>
            <td width="1201" style="color: #333; font-family: arial; font-size: 12px; padding: 5px;">
                <p> {UserName} </p>
            </td>
        </tr>
        <tr>
            <td width="40" style="color: #333; font-family: arial; font-size: 12px; padding: 5px;">
                <strong>Password:</strong>
            </td>
            <td width="1201" style="color: #333; font-family: arial; font-size: 12px; padding: 5px;">
                <p> {Password}</p>
            </td>
        </tr>
    </tbody>
</table><br>
<br>
<br>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tbody>
        <tr>
            <td>
                <hr style="border: 1px dotted #C0C0C0; border-left-width: 0px; border-right-width: 0px; border-top-width: 0px;" />
                <p style="color: #333; font-family: arial; font-size: 9px; padding: 5px;">
                    This is informational message from CRxWeb.com. Please do not reply to this message, Mail sent to this address is not monitored.
                </p>
            </td>
        </tr>
    </tbody>
</table>