<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
			</handlers>
			<aspNetCore requestTimeout="00:20:00"  processPath=".\HCF.Web\HCF.Web.dll" 
                  stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
			<security>
				<requestFiltering>
					<!--The default size is 30000000 bytes (28.6 MB). MaxValue is 4294967295 bytes (4 GB)-->
					<!-- 100 MB in bytes -->
					<requestLimits maxAllowedContentLength="4294967295"/>
				</requestFiltering>
			</security>
		</system.webServer>
		<system.web.extensions>
			<scripting>
				<webServices>
					<jsonSerialization maxJsonLength="2147483644"/>
				</webServices>
			</scripting>
		</system.web.extensions>
	</location>
  <!--<system.webServer>
    <rewrite>
      <rules>
        <rule name="Redirect to non-www" stopProcessing="true">
          <match url="(.*)" negate="false"></match>
          <action type="Redirect" url="https://crxweb.com/{R:1}"></action>
          <conditions>
            <add input="{HTTP_HOST}" pattern="^crxweb\.com$" negate="true"></add>
          </conditions>
        </rule>
      </rules>
    </rewrite>
  </system.webServer>-->
</configuration>