@{
    ViewBag.Title = "Coming Soon";
}

    @section pageHeader{
    <section class="content-header">
        <h1>
            Coming Soon
        </h1>
    </section>
        }
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="box box-primary ">
                  
                        <img src="~/dist/Images/Icons/coming_soon.png" />
                   
                </div>
            </div>
        </div>
    </div>

