
@{
    ViewBag.Title = "FileUpload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>File Upload</h2>
@using (Html.BeginForm("FileUpload", "Common", FormMethod.Post, new { @enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()


    <div id="uploads">
        <div id="uploadtemplate">
            <label for="file1">Filename:</label>
            <input type="file" name="files" id="file1" />
        </div>
        <a href="#" id="addFile">Add More Image</a>
    </div>
    <input type="submit" />
}

<script>
    $(document).ready(function () {
      
        $('#addFile').data('uploadtemplate', $('#uploadtemplate').attr('id', '').clone());

        $('#addFile').click(function (e) {
            $(this).data('uploadtemplate').clone().insertBefore($(this));
            e.preventDefault();
        });
    });
</script>