@model List<HCF.BDO.EPDetails>
<ul>
    <li>
        @foreach (var item in Model.OrderBy(x => x.StandardEp))
        {
            <ul class="list">
                <li>
                    <a style="cursor:pointer" class="assetcat" title="Click to expand">
                        <label for="@($"cb1{item.StandardEp}")" id="lbl">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                            @item.StandardEp
                        </label>
                    </a>
                </li>
            </ul>
        }
    </li>
</ul>