
@{
    ViewBag.Title = "Forgot Password";
    Layout = "~/Views/Shared/_LayoutPublic.cshtml";
}


@section pageHeader{
    <section class="content-header">
        <h1>
            Forgot Password
        </h1>
    </section>
}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                @using (Html.BeginForm("ForgotPassword", "Account"))
                {
                    @Html.AntiForgeryToken()

                    <div class="change_password">
                        <ul>
                            <li>
                                Enter the email address associated with your CRx account.<br />
                                <label>Enter the email address associated with your CRx account</label>

                                @Html.TextBox("UserName", null, new { @class = "form-control required", @placeholder = "Email Id", required = "required", @type = "email" })
                                <span style="color:red;">@TempData["Message"]</span>
                            </li>
                        </ul>
                        <button type="submit" class="btn btn-primary btn-block btn-flat" title="Login" id="btnlogin"
                                data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i>Processing">
                            Recover
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#UserName").val("");
        });
    </script>
}