@model IEnumerable<HCF.BDO.EPAssignee>
<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title">
            <span class="modelTitle">@ViewBag.Title</span>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </h4>
    </div>
    <div class="modal-body epinsppopup-user" id="modelContent">
        <div class="asset_list_view">
            <div class="row">
                @foreach (var m in Model.Where(x => x.UserProfile != null && x.Status == true && !x.UserProfile.IsCRxUser).GroupBy(x => x.UserId).Select(x => x.FirstOrDefault()))
                {
                    //if (commonModelFactory.RemoveCRxUsers(m.UserProfile))
                    //{
                    <div class="col-md-4 form-group">
                        @Html.CheckBox("checkUser", m.Status, new { })<span></span>@m.UserProfile.Name<br />@m.UserProfile.UserName
                    </div>
                    @*}*@
                }
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="comm-Cancelbutton" data-dismiss="modal">Close</button>
    </div>
</div>
<style>
    .modal-dialog {
        height: 90%;
    }
    .modal-content {
        height: 100%;
    }
    .epinsppopup-user {
        height: 86%;
    }
    .asset_list_view {
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
    }
</style>