@model HCF.Web.Models.LoginModel
<h4 class="threedot-heading" style="margin-bottom: 12px;">Sign in to start your session</h4>

<form asp-controller="Account" asp-action="Login"
      data-ajax-success="loginSuccess"
      data-ajax="true" data-ajax-method="POST">
    <input type="hidden" name="returnUrl" value="@ViewBag.ReturnUrl" />
    <input type="hidden" name="dToken" id="dToken" />

    @Html.AntiForgeryToken()
    <div class="form-group has-feedback">
        <div class="input-group">
            <div class="input-group-addon"><img src="/dist/Images/login/username.png"></div>
            <input class="form-control" placeholder="Username" type="email" asp-for="UserName" required="required" autofocus>
        </div>
    </div>
    <div class="form-group has-feedback">
        <div class="input-group">
            <div class="input-group-addon"><img src="/dist/Images/login/password.png"></div>
            <input class="form-control password-control" placeholder="Username" type="password" asp-for="Password" required="required">
            <div class="input-group-addon seepassword">
                <span class="hideShowpass"><i class="fa fa-eye" aria-hidden="true"></i></span>
            </div>
        </div>
    </div>
    <div class="form-group has-feedback error-div">
        <span class="error-content"></span>
    </div>
    <div class="row fogsub-box">
        <div class="col-xs-12">
            <button type="submit" class="btn login-button" title="Login" id="btnlogin"
                    data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Loading">
                Log On
            </button>
        </div>
    </div>
    <div class="row loginremember">
        <div class="col-xs-6">
            <div class="comman_checkbox">
                @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })<span></span>
                Remember me
            </div>
        </div>
        <div class="col-xs-6 text-right">
            <a href="#" id="redarget-forgetLogin" class="redarget-forget "><span>Forgot Password?</span></a>
        </div>
        <div class="col-xs-12">
            @await Component.InvokeAsync("MicrosoftLogin")
        </div>
    </div>
    @if (ViewBag.TaggedUserUrl == true)
    {
        <div class="userLi guestuser">
            <span></span>
        </div>
    }
</form>