<div class="logintabMenu">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#announcement" aria-controls="announcement" role="tab" data-toggle="tab">Announcement</a></li>
        <li role="presentation"><a href="#progress" aria-controls="progress" role="tab" data-toggle="tab">Progress</a></li>
        <li role="presentation"><a href="#news" aria-controls="news" role="tab" data-toggle="tab">News</a></li>
        <li role="presentation"><a href="#new" aria-controls="new" role="tab" data-toggle="tab">New</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="announcement">...</div>
        <div role="tabpanel" class="tab-pane" id="progress">...</div>
        <div role="tabpanel" class="tab-pane" id="news">...</div>
        <div role="tabpanel" class="tab-pane" id="new">...</div>
    </div>
</div>
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        @*<li data-target="#myCarousel" data-slide-to="1"></li>*@
    </ol>
    <div class="carousel-inner">
        @*<div class="item active">
            <img src="/dist/Images/login/ashe-banner.png" alt="">
            <div class="carousel-caption">
                <h3>Celebrating 5 years!</h3>
            </div>
            <div class="hfcmagazine" style="color: #424242;">
                <h3 class="threedot-heading">CRx</h3>
                <p>CRx for Compliance <br>America’s most comprehensive, <br>Patent Pending, Healthcare Facility Compliance software <br>www.hcfcompliance.com</p>
            </div>
        </div>*@
        <div class="item active">
            <img src="/dist/Images/login/login1.jpg" alt="">
            <div class="carousel-caption">
                <h3>CRx featured in On The Radar section of HFM Magazine's April 2021 Issue!</h3>
            </div>
        </div>
        @*<div class="hfcmagazine">
            <h3 class="threedot-heading">CRx</h3>
            <p>CRx for Compliance America’s most comprehensive, Patent Pending, Healthcare Facility Compliance software <a href="#">www.hcfcompliance.com</a></p>
        </div>*@
    </div>
</div>
<div class="hfcmagazine-footer">
    <div class="crxlogin-description">
        <div>
            <h3 class="threedot-heading">CRx</h3>
            <p>CRx for Compliance <br />CRx - Automating Healthcare Facility Compliance.</p>
        </div>
        <p> <br /><a href="https://www.hcfcompliance.com/" rel="noreferrer" target="_blank">www.hcfcompliance.com</a></p>
    </div>
</div>